<h1>Restaurants</h1>


  <% @restaurants.each do |restaurant| %>

    <li data-restaurant-id="<%= restaurant.id %>">
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
      <%= link_to '/ delete', restaurant_path(restaurant), method: :delete, remote: true  %>
    </li>
        
  <% end %>
